

.header 
{
    padding: 2rem 6.4% 8.5rem;
    background-image: url(../../images/mobile/image-header.jpg);
    background-size: cover;
    background-position: bottom center;
    text-align: center;
    color: $color-White;
}

.masthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.5rem;

    &__logo
    {
        width: 123px;
    }

    &__menu-btn
    {
        cursor: pointer;
        transition: all 300ms;

        &:hover
        {
            transform: scale(1.2);
        }
    }
}

.nav {
    display: none;
    &__list 
    {
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;
    }
}



.hero 
{
    &__title
    {
        font-size: 2.5rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: .15em;
        margin-bottom: 1.3em;
    }
}


.menu
{
    background-color: $color-White;
    text-align: center;
    padding: 3.93rem 0 2.43rem;
    width: 87.7%;
    opacity: 0%;
    pointer-events: none;
    position: fixed;
    top:100px;
    left:50%;
    transform: translateX(-50%);
    transition: all 300ms;
    &--open
    {
        opacity: 100%;
        pointer-events: all;
    }

    &::before
    {
        content: '';
        position: absolute;
        right:0px;
        top:0px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 0 24px 24px;
        border-color: transparent transparent #FFFFFF transparent;
        transform: rotate(0deg) translateY(-100%);
    }

    &__list 
    {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__link 
    {
        color: $color-Grey;
        text-decoration: none;
    }

    &__btn
    {
        @extend .btn;
        background-color: $color-Yellow;

        &:hover
        {
            transform: scale(1.1);
        }
    }
}


.nav {
   

    &__list 
    {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: 2.93rem;
    }

    &__link
    {
        @extend .body-m;
        text-decoration: none;
        color: inherit;
    }

    &__btn
    {
        @extend .btn;
        background-color: $color-White;

        &:hover
        {
            background-color: rgba(255, 255, 255, 25%);
            color:$color-White;
        }
    }
}


@media (min-width: 768px)
{
    .header {
        padding: 2.125rem 2.7% 20.6rem;
        background-image: url(../../images/desktop/image-header.jpg);
    }
    .masthead 
    {
        margin-bottom: 6.56rem;
        &__logo
        {
            width: 170px;
        }

        &__menu-btn
        {
            display: none;
        }
    }

    .menu 
    {
        display: none;
    }

    .nav {
        display: block;
    }

    .hero 
    {
        &__title
        {
            font-size: 3.5rem;
            margin-bottom: 6rem;
        }
    }
}
