body {
  margin: 0;
  font-family: "Fraunces", serif;
}

p {
  line-height: 1.6;
}

p, a {
  font-family: "Barlow", sans-serif;
}

* {
  box-sizing: border-box;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}

.btn, .nav__btn, .menu__btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 28px;
  font-size: 15px;
  border: none;
  font-family: inherit;
  color: #24303E;
  cursor: pointer;
  transition: all 300ms;
}

.body-m, .top-section__body, .nav__link {
  font-size: 1.125rem;
}

.header {
  padding: 2rem 6.4% 8.5rem;
  background-image: url(../../images/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom center;
  text-align: center;
  color: white;
}

.masthead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5.5rem;
}
.masthead__logo {
  width: 123px;
}
.masthead__menu-btn {
  cursor: pointer;
  transition: all 300ms;
}
.masthead__menu-btn:hover {
  transform: scale(1.2);
}

.nav {
  display: none;
}
.nav__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.hero__title {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 1.3em;
}

.menu {
  background-color: white;
  text-align: center;
  padding: 3.93rem 0 2.43rem;
  width: 87.7%;
  opacity: 0%;
  pointer-events: none;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 300ms;
}
.menu--open {
  opacity: 100%;
  pointer-events: all;
}
.menu::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 24px 24px;
  border-color: transparent transparent #FFFFFF transparent;
  transform: rotate(0deg) translateY(-100%);
}
.menu__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menu__link {
  color: #808397;
  text-decoration: none;
}
.menu__btn {
  background-color: #FAD400;
}
.menu__btn:hover {
  transform: scale(1.1);
}

.nav__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 2.93rem;
}
.nav__link {
  text-decoration: none;
  color: inherit;
}
.nav__btn {
  background-color: white;
}
.nav__btn:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

@media (min-width: 768px) {
  .header {
    padding: 2.125rem 2.7% 20.6rem;
    background-image: url(../../images/desktop/image-header.jpg);
  }
  .masthead {
    margin-bottom: 6.56rem;
  }
  .masthead__logo {
    width: 170px;
  }
  .masthead__menu-btn {
    display: none;
  }
  .menu {
    display: none;
  }
  .nav {
    display: block;
  }
  .hero__title {
    font-size: 3.5rem;
    margin-bottom: 6rem;
  }
}
.top-section {
  text-align: center;
}
.top-section__mobile-img {
  width: 100%;
  display: block;
}
.top-section__desktop-img {
  display: none;
  object-fit: cover;
}
.top-section__content {
  padding: 4rem 6.4%;
}
.top-section__title {
  color: #24303E;
  font-size: 2rem;
}
.top-section__body {
  color: #808397;
}

.top__btn, .standout-section__btn, .transform-section__btn {
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 15px;
  padding: 0.25rem 0.5rem;
  z-index: 99;
}
.top__btn::before, .standout-section__btn::before, .transform-section__btn::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 10px;
  border-radius: 28px;
  opacity: 25%;
  transition: all 300ms;
  z-index: -1;
}
.top__btn:hover::before, .standout-section__btn:hover::before, .transform-section__btn:hover::before {
  opacity: 100%;
}

.transform-section {
  display: flex;
  flex-direction: column-reverse;
}
.transform-section__btn::before {
  background-color: #FAD400;
}

.standout-section__btn::before {
  background-color: #FE7766;
}

@media (min-width: 768px) {
  .top-section {
    display: flex;
    text-align: left;
    flex-direction: row;
  }
  .top-section__mobile-img {
    display: none;
  }
  .top-section__desktop-img {
    display: block;
    width: 50%;
  }
  .top-section__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 9.8rem 0;
  }
  .top-section__title {
    font-size: 2.5rem;
  }
  .transform-section__content {
    padding-left: 11.4%;
    padding-right: 6.875rem;
  }
  .standout-section__content {
    padding-right: 11.4%;
    padding-left: 6.875rem;
  }
}
.feature {
  padding: 24.87rem 6.4% 3.75rem;
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.feature__title {
  font-size: 1.75rem;
}

.graphic-feature {
  background-image: url(../../images/mobile/image-graphic-design.jpg);
  color: #24554A;
}

.photography-feature {
  background-image: url(../../images/mobile/image-photography.jpg);
  color: #052C3B;
}

@media (min-width: 768px) {
  .features {
    display: flex;
    align-items: stretch;
  }
  .graphic-feature {
    width: 50%;
    background-image: url(../../images/desktop/image-graphic-design.jpg);
  }
  .photography-feature {
    width: 50%;
    background-image: url(../../images/desktop/image-photography.jpg);
  }
}

/*# sourceMappingURL=style.css.map */
